html, body {
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

.sky {
    height: 230px;
    width: auto;
    background-color: lightgray;
    padding: 0%;
    margin: 0%;
}
.cloud{ 
    width:200px;
    height:70px;
    background:#ECEFF1;
    border-radius:100px;
 }

.sea {
    width: auto;
    background-color: lightblue;
    padding: 0%;
    margin: 0%;
}
.sand {
    width: auto;
    background-color: lightsalmon;
    padding: 0%;
    margin: 0%;
}